<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
* {
    margin: 10;
    padding: 0;
    border: none;
}
/* HEADINGS AND LOGO STYLING */
header {
    height: 2rem;
    position: sticky;
}
h1 {
    color: rgb(22, 3, 3);
    font-size: 24px;
=======
body {
>>>>>>> refs/remotes/origin/main
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: hsl(184, 86%, 46%);
}

header {
    background-color: #333;
    color: hsl(251, 89%, 40%);
    padding: 20px;
}

h1 {
    color: #9d00ff;
    font-size: 28px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1de157;
}

h2 {
    font-size: 24px;
}

p {
<<<<<<< HEAD
    color: rgb(199, 10, 10)
=======
    font-size: 16px;
>>>>>>> refs/remotes/origin/main
}

section {
    margin-bottom: 20px;
}

.contact {
    margin-top: 20px;
}
.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 2%;
    padding: 5%;
    color: rgb(4, 4, 238);
    background-color: rgb(247, 236, 236);
    padding: 10px;
    border-radius: 50%;
}
/* footer */
footer {
    height: 150px;
    text-align: center;
}
#phone-number {
    color: #3a3a3a;
    text-align: center;
    color: black;
    padding-left: 30%;
    margin: 2%;
    background-color: white;
}