body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: hsl(184, 86%, 46%);
}

header {
    background-color: #333;
    color: hsl(251, 89%, 40%);
    padding: 20px;
}

h1 {
    color: #9d00ff;
    font-size: 28px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1de157;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

section {
    margin-bottom: 20px;
}

.contact {
    margin-top: 20px;
}
